---
import AdvancedStats from "../components/Advanced_Stats.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Nav from "../components/Nav.astro";
// import Url_Input from "../components/Url_Input.astro";
import Url_Input from "../components/Url_Input.tsx";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<!-- FONTS  -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
			rel="stylesheet"
		/>

		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Shortly URL shortening API</title>

		<style is:global>
			body {
				font-family: "Poppins", sans-serif;
				margin: 0 auto;
			}
			main {
				overflow: hidden;
				background-color: #fff;
			}

			@media screen and (max-width: 1440px) and (min-width: 768px) {
				section#advanced-stats,
				section#url-input,
				nav {
					padding: 0 1.5rem !important;
				}
				#hero {
					padding-left: 1.5rem;
				}

				#hr-wrap {
					width: calc(100vw - 5rem) !important;
				}
			}

			@media screen and (max-width: 1200px) {
				#hero img {
					width: 60%;
				}
			}

			@media screen and (max-width: 768px) {
			}
		</style>
	</head>
	<body>
		<Nav />
		<main>
			<Hero />
			<Url_Input client:load />
			<AdvancedStats />
			<CTA />
		</main>
		<Footer />
	</body>
</html>
